/* Hiding Index navigation on the home page.
I'm using index pages + navigation to show 'progress' and allow smooth scrolling between sections on project pages. The home page uses an index page to include a CTA button that scrolls down, but navigation is not necessary here.
*/
#collection-5e3e403bced26d7c65a61565 .Index-nav {
   display: none !important;
}

/* Force Image Card to stack at a larger breakpoint.
By default, the Image Card goes full width at 454px and it squishes the text a lot. I just chose the new breakpoint by eye.
https://schwartz-edmisten.com/blog/force-an-image-card-to-stack-on-tablet-in-squarespace
*/
@media screen and (max-width: 740px) {
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) {
	display: block!important;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width) .image-card-wrapper {
    width: 100%;
    // mimicking the Card Separation style setting in Squarespace
  	margin-top: 4%;
  }
  .sqs-block-image .design-layout-card:not(.sqs-narrow-width)>div:first-child {
	width: 100%;
  }
  
  // Adding additional bottom spacing for the image card at the breakpoint and below
  .sqs-block-image .design-layout-card {
    margin-bottom: 24px;
  }
}

/* Index page banner sections only go down to min-height: 50vh in the GUI.
Manually overriding that to be smaller.
Also, manually hiding the scroll-down-indicator with CSS.

I'm using repeated class selectors to increase specificity instead of using !important.

I don't think I'm actually using this stuff right now, so it should be safe to delete it all.
*/
.Index-page--has-image.Index-page--has-image.Index-page--has-image {
  min-height: 250px;
}
.Index-page--has-image .Index-page-content {
  padding-top: 0;
  padding-bottom: 0;
}
.Index-page-scroll-indicator.Index-page-scroll-indicator {
  display: none;
}

/* Custom quote block styling.
Note - this is the quote styling within a text block, not the Block Quote.
*/
.sqs-block-html blockquote {
    border-left-width: 3px;
    border-left-color: #1565c1;
    padding-left: 1em;
    color: #1565c1;
    font-style: italic;
}
